@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@1&display=swap');

*{
    margin: 0px 0px;
    padding: 0px 0px;
}

body{
    margin: 0px 0px;
}

header{
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
header > h1{
    font-variant: small-caps;
    font-family:'Ysabeau SC', sans-serif;
    font-size: 4vh;
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    font-weight: bolder;
    color: rgb(94, 82, 82);
}

article{
    padding: 120px 100px;
    line-height: 30px;
    font-size: 20px;
    
}

article.imagem > p{
    background-color: rgba(0, 0, 0, 0.541);
    display: inline-block;
    padding: 5px;
}

article.normal{
    background-color: antiquewhite;
}
article.imagem{
    background-color: black;
    color: white;
    box-shadow: inset 2px 2px 2px black;
}
 
article#img001{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-attachment: fixed;
}

article#img002{
    background-image: url(../imagens/background002.jpg);
    background-position: right center;
    background-attachment: fixed;
}
article#img003{
    background-image: url(../imagens/poetry-album-818181_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer{
    background-color: black;
    padding: 10px 10px;
    color: white;
    text-align: center;
}
